---
layout: default
---

<h1>分类：{{ page.category }}</h1>
<ul>
  {% assign posts = site.categories[page.category] %}
  {% for post in posts %}
    <li>
      <a class="category-post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <span>{{ post.date | date: "%Y-%m-%d" }}</span>
      {% if post.excerpt %}
        <p>{{ post.excerpt | strip_html | truncate: 120 }}</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<style>
.category-post-title {
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 4px;
}
</style>